<style>
    * {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    {
      overflow: hidden;
      background-color: #333;
    }
    
    
    
    
    /* Style the content */
    .content {
      background-color: #ddd;
      padding: 10px;
      height: 400px;
    }
    
    /* Style the footer */
    .footer {
      background-color: #f1f1f1;
      padding: 10px;
    }
    </style>
    </head>
    <body>
    
    
    
    <div class="content">
      <center><h2>Generate a Random City</h2>
      <p>This application will generate a random city and weather condition. Depending on the condition, you will be informed if it is a good idea to visit the chosen city.</p>
      <br>
      <h3>City: {{ city }}</h3>
      <h3>Weather: {{ weather }} </h3>
      <h3>Suggestion: {{ suggestion }} </h3>
      <br>
      <a href="{{ url_for('index')}}"><button style="font-size: xx-large;font-family: Arial, Helvetica, sans-serif;">Generate</button></center></a>
      
    </div>
    
    <div class="footer">
      <p>Efekan Calim, QA Consulting, 2020</p>
    </div>
    
    </body>
    </html>